/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*===== Fuente y tipografia =====*/
  --body-font: "Bungee", cursive;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  --white: #fff;
  --black: #000;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background: #e9bd01;
  color: var(--white);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
header {
  width: 100%;
  padding-block: 15px;
  background-color: #000;
  position: fixed;
  top: 0;

  a.nav-logo {
    font-size: 32px;

    @media (max-width: 700px) {
      font-size: 22px;
    }
    color: var(--white);
    img {
      max-width: 5rem;
    }
  }

  ul {
    height: 100%;

    a {
      color: var(--white);
    }
  }
}

#home {
  width: 100%;
  padding-block: 150px 100px;

  h1.title {
    font-size: 60px;

    @media (max-width: 700px) {
      font-size: 45px;
    }
  }
  a.btn {
    padding: 15px 32px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 30px;
  }
}

#about {
  width: 100%;
  padding-block: 50px;

  h1.title {
    font-size: 53px;

    @media (max-width: 700px) {
      font-size: 42px;
    }
  }
  p {
    color: rgba(256, 256, 256, 0.7);
  }
}

#video {
  width: 100%;
  padding-block: 50px;

  .cotainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  video {
    width: 100%;
    display: block;
    margin-inline: auto;

    @media (min-width: 900px) {
      max-width: 30rem;
    }
  }
}

#tokenomics {
  min-height: 100vh;
  width: 100%;
  // background-color: #000;
  padding-block: 50px;

  h1.title {
    font-size: 52px;

    @media (max-width: 700px) {
      font-size: 37px;
    }
  }
  p {
    color: rgba(255, 255, 255, 0.5);
  }
  a.btn {
    padding: 15px 32px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 30px;
  }
  iframe {
    max-width: 100%;
  }
  .circle {
    height: 20rem;
    width: 20rem;
    background-color: var(--black);
    border: 5px solid #fff;
    border-radius: 50%;

    h1.title {
      font-size: 48px;
    }
  }
}

#icon {
  width: 100%;
  padding-block: 50px;

  a {
    color: #000;
    i {
      font-size: 42px;
    }
  }
}

footer {
  width: 100%;
  background-color: #000;
  padding-block: 20px;
}
